<% if (alert.message != "") { %>   
    <div id="alertBox" class="alert alert-<%= alert.status %> alert-dismissible" style="font-size: small; font-style: italic; font-weight: 500;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="icon fas fa-<%= alert.icon %>"></i> <%= alert.message %>
    </div>
<% } %>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const alertBox = document.getElementById('alertBox');

        if (alertBox) {
            setTimeout(() => {
                alertBox.classList.add('hide');
                setTimeout(() => {
                    alertBox.remove();
                }, 500); 
            }, 3000); 
        }

    });
</script>